/*début style base page*/
html{
    width:100vw;
    height:max-content;
}
body{
    width:100%;
    height:100%;
    background-color: #222831;
    margin: 0;
    overflow-x: hidden;
}
.page{
    position: relative;
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
    margin-top:100px;
}
@font-face {
    font-family: michroma;
    src: url(michroma.ttf);
}
/*fin style base page*/
/*début style menu*/
.mobile{
    display: none;
}
@media only screen and (max-width : 940px){
    .mobile{
        display: unset;
    }
    .mobile.menu-couvrant{
        display: block;
        position: fixed;
        text-align: center;
        background-color: #222831;
        width: 100vw;
        height: calc(100vh - 102px);
        top: 102px;
        left: 100vw;
        transition: left 0.4s;
    }
    .mobile.div-menu{
        position: relative;
        display: block;
        text-align: center;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: max-content;
    }
    .mobile.menu-nav{
        position: relative;
        display: flex !important;
        list-style-type: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
        justify-content: space-between;
        height:45vh;
    }
    .mobile.element-menu a{
        font-size: 33px;
        font-family: michroma;
        text-decoration: none;
        color: aqua;
    }
    .mobile.element-menu a:active{
        color: whitesmoke;
    }
    .mobile.element-menu a:hover{
        color: whitesmoke;
    }
    /*.cv-mobile{
        margin: 0 30vw 0 30vw;
    }*/
    .cv-mobile:active{
        border-color: whitesmoke;
        color: whitesmoke;
    }
    .cv-mobile:hover{
        border-color: whitesmoke;
        color: whitesmoke;
    }
    .cv-mobile>a{
        border: 3px aqua solid;
        padding: 5px 30px 5px 30px;
        border-radius: 5px;
    }
    .mobile.menu-reseaux{
        position: relative;
        display: block;
        height: max-content;
        margin-top: 40px;
        text-align: center;
        width: 100%;
    }
    .mobile.liste-reseaux{
        display: inline-flex !important;
        width: max-content;
        text-align: center;
        flex-direction: row;
        gap: 80px;
        padding: 0;
        margin: 0;
    }
    .mobile.reseaux{
        list-style-type: none;
    }
    .mobile.reseaux img{
        height: 60px;
        width: 60px;
    }
    .flagounette{
        margin-top: 10px;
        width: max-content;
        margin: auto;
    }
    .flagounette img{
        width: 80px;
    }
}
@media only screen and (max-width: 650px) {
    .mobile{
        display: unset;
    }
    .mobile.liste-reseaux{
        gap: 50px;
    }
    .mobile.reseaux img{
        height: 45px;
        width: 45px;
    }
}
/*fin style menu*/
/*début style footer*/
footer{
    width: 100vw;
    height: 50px;
    background-color: #222831;
    flex-shrink: 0;
    border-top: 3px solid aqua;
    z-index: 4;
}
footer>p{
    font-family: michroma;
    text-align: center;
    font-size: 13px;
    /*padding-top: 17px;*/
    color: whitesmoke;
}
/*fin style footer*/
/*début style header*/
header{
    background-color: #222831;
    height: 100px;
    width: 100vw;
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    margin-bottom: 10vh;
    border-bottom: 3px solid aqua;
    z-index: 4;
}
.wrapper-header{
    position: relative;
    height: 100%;
    width: 100%;
}
.bwet{
    position:absolute;
    left:10vw;
    top:20px;
    display: inline-block;
}
.logo img{
    width:150px;
}
.nav{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 50px;
    top: 35px;
    right: 60px;
    color:whitesmoke;
    width:max-content;
    font-size: 19px;
    font-family: michroma;
}
.nav ul{
    display: flex;
    list-style: none;
    gap: 4.5vw;
    padding: 0;
}
.nav ul li{
    width: max-content;
    height: max-content;
}
.nav ul a{
    display:inline;
    list-style: none;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    color:aqua;
    margin:0px;
}
.nav ul li:not(:last-child) a:hover{
    color: whitesmoke;
}
.cv{
    color:aqua;
    border: 3px solid;
    border-color: aqua;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius:5px;
}
.cv:hover{
    color: whitesmoke;
    border-color: whitesmoke;
}
.cv:hover a{
    color: whitesmoke;
    border-color: whitesmoke;
}
.langue{
    display: inline;
    height: 50px;
    width: max-content;
    margin: auto 0 auto 0;
}
.langue>img{
    height: 50px;
    width: auto;
}
.burger{
    display: none;
}
@media only screen and (max-width : 940px){
    .desktop.nav{
        display: none;
    }
    .burger{
        display: block;
        position: absolute;
        top: 48px;
        color:whitesmoke;
        width:auto;
        right: 7vw;
    }
    .burger:hover{
        cursor: pointer;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #ffffff;
        margin: 6px 0;
        transition: 0.4s;
    } 
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
}
 @media only screen and (max-width: 650px) {
    body {
      overflow-x: hidden;
    }
    .logo img{
        width: 17vw;
        min-width: 150px;
    }
 }
/*fin style header*/
